__pycache__
AutoAssistFetch.bash
AutoBoundFetch.bash
pybaseball
venv
.idea
.git
.venv
.log
.kate-swp
activate
CHN/teamdata/
CHN/boxscores/
.venv/
.idea/
.vscode/
.git/
__pycache__/
CSV/
JSON/
**.log
.run/
teamdata/
savedsources/
NHLvacuum/nhlstatvacc.py
NHLvacuum/daily_game_scores
NHLvacuum/nhlteamreports
somepaths.py
**.csv
Boddssuck/**.html
Boddssuck/**.txt
Boddssuck/parsedpage/
nflscripts/newdata/
HeftyRender.mkv
# ignoring any symlinks
*/update_importpaths.py
MLBAnalytics/MLBstats/
Standings/http_proxies.txt
MLBAnalytics/savedfiles_BBSavant/*/
Boddssuck/profiling
MLBAnalytics/testski
http_proxies.txt
MLBAnalytics/savedfiles_BBSavant/*.mp4
Imgui/imgui.ini
