beautifulsoup4
numpy
pandas
selenium
matplotlib
xgboost
#ttkthemes
requests
more-itertools
lxml
qasync
aiohttp
feedparser
pandas
# pywin32 # windows BS to create desktop shortcut
pyqt6
pyqt6-webengine
pyqtgraph
python-dateutil
scipy
pywavefront
svgpathtools
qasync
